.deps
.libs
*.la
*.lo
*.o
*.pyc
Makefile
Makefile.in
libbitcoin-node.pc

bin
obj
.*.swp
*~
/*.kdev4
/.cproject
/.project
/.settings
/nbproject
/console/bn

/aclocal.m4
/autom4te.cache
/build-*
/config.*
/configure
/libtool
.dirstamp
node_test/
